*{
    margin: 0;
    padding: 0;
}
body {
    /* background-color: rgb(234, 213, 213);
    color: white; */
}
.container{
    
}

.left {
    width: 25vw;
    /* height: 100vh; */
    
}
.home{
    
}
.library{
    height: 80vh;
}
.right {
    width: 75vw;
    /* height: 100vh; */
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 25px;
    list-style: none;
    padding-top: 10px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    font-weight: bold;
    padding: 8px 8px;
    font-size: 14px;
}
.heading img{
    width: 23px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    /* #1f1f1f */
}
.header > *{
    padding: 3px;
}
.spotifyPlaylists{
    margin: 12px;
}
.spotifyPlaylists h1{
    font-size: 23px;

}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    
}
.card{
    background-color:#414040;
    width: 200px;
    padding: 4px;
    border-radius: 4px;
    position: relative;

}
.card img{
    width: 200px;
    object-fit: contain;
    border-radius: 4px;

}
.card> *{
    padding-top: 6px;
}
.play{
    position: absolute;
    top: 162px;
    right: 17px;
    opacity: 1;
    transition: all 1s ease-in-out;

   
}
.buttons>*{
    margin: 2px 13px;

}
.signbtn{
    background-color: #121212;
    color: rgb(178, 172, 172);
    font-weight: bold;
    border: none;
    outline: none;
}
.signbtn:hover{
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.loginbtn{
    
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 20px;
    width: 80px;
    padding: 10px;

}
.loginbtn:hover{
    font-weight: bold;
    cursor: pointer;
}